.card-container{
    width:250px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
}

.card-innercontainer{
    
}

.card-title{
    text-align: center;
    font-weight: bold;
}

.card-image {
    text-align: center;
}

.card-image > img {
    width: 200px;
    height: 200px;
}

.card-button {
    text-align: center;
}

.card-button > button {
    background-color: antiquewhite;
    border: none;
    border-radius:3px;
    padding: 5px 10px;
}